---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
---

<Layout>
  <!-- Header med professionel og voksen stil -->


  <Logo description="Portfolio"> </Logo>

  
  <img src="index.jpg" class="absolute top-15 left-0 w-430 h-270 object-cover " />
   
  <div class="flex flex-col items-center text-center p-8 space-y-12">
    <Navigation link="/Aboutside" title="ABOUT" src="me.jpg" />
    <Navigation link="/Projekterside" title="PROJECTS" src="alsome.jpg" />

  </div>

</Layout>

