---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
---

<Layout>
  <!-- Header med professionel og voksen stil -->


  <Logo description="Portfolio"> </Logo>

  <!-- Navigation med centreret layout -->


 <!--  <img src="Pattismith.jpeg" alt="Patti Smith"
    class="absolute top-10 left-10 w-64 h-auto" />

  <img src="Pattismith.jpeg" alt="Patti Smith"
    class="absolute top-10 right-10 w-64 h-auto" />-->

   
  <div class="flex flex-col items-center text-center p-8 space-y-12">
    <Navigation link="/Aboutside" title="ABOUT" src="Pattismith.jpeg" />
    <Navigation link="/Projekterside" title="PROJECTS" src="Pattismith.jpeg" />
  </div>
</Layout>

