---
import Logo from "../components/Logo.astro"
import Layout from "../layouts/Layout.astro"

---
<Layout>
    <Logo title="EMMAAUKSUTAT" description="Selvmord"></Logo>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 p-8 text-center">
        <div class="p-6 relative rounded-1xl bg-yellow-100 shadow-2xl">
            <!-- Pin illustration -->
           <!-- <div class="note-pin absolute top-0 left-0 bg-red-400 rounded-full w-4 h-4"></div>-->
          
            <div class="flex flex-col items-center space-y-4">
              <img src="/Selvmord1.jpg"  class="w-full h-auto rounded-1xl mb-4 shadow-md" />
             
            </div>
          </div>

          <div class="space-y-8">
        
        <div class="p-6 relative rounded-1xl bg-yellow-100 shadow-2xl">
            <!-- Pin illustration -->
           <!-- <div class="note-pin absolute top-0 left-0 bg-red-400 rounded-full w-4 h-4"></div>-->
          
            <div class="flex flex-col items-center space-y-4">
              <img src="/Selvmord2.jpg"  class="w-full h-auto rounded-1xl mb-4 shadow-md" />
         
            </div>
          </div>
      
        <div class="p-6 relative rounded-1xl bg-yellow-100 shadow-2xl">
            <!-- Pin illustration -->
           <!-- <div class="note-pin absolute top-0 left-0 bg-red-400 rounded-full w-4 h-4"></div>-->
          
            <div class="flex flex-col items-center space-y-4">
              <img src="/Selvmord3.jpg"  class="w-full h-auto rounded-1xl mb-4 shadow-md" />
            
            </div>
          </div>
          </div>
    
        
        </div>
</Layout>