---
const { title, description } = Astro.props;
---

<header class="relative text-center">
  <!-- Titel med rød streg gennem "R" -->
  <h1 class="pt-6 text-3xl uppercase tracking-wide text center ">
    EMMAAUKSUTA<span class="line-through text-red-600">R</span>T
  </h1>
  <div class=" mt-0.5 px-4 bg-red-500 inline-block">
  <h1 class="text-3xl">EMMAAUKSUTAT</h1>
  </div>

  <!-- Beskrivelse -->
   <div>
  <h2 class="text-2xl p-2 text-black relative inline-block mt-2">
    {description}
    <!-- Længere rød underline -->
    <span class="absolute left-0 bottom-2 w-full h-0.5 bg-red-600"></span>
  </h2>
</div>
</header>
