---
const {img,tekst,buttonColor} = Astro.props
const buttonClasses = 'rounded py-2 px-4 ' + buttonColor
---

<div class="p-4 border inline-block">
<img src={img}alt="" class="rounded">
<p class="my-4 text-2xl">{tekst}</p>
<a href="/projects/kat" class={buttonClasses}>Se mere</a>
</div>